[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
psycopg = {extras = ["binary"], version = "*"}
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
